{% extends 'dashboard.html.twig' %}

{% block title %}Changer de mot de passe{% endblock %}

{% block content %}
    <section class="text-center">
        <h3>Changer mon mot de passe</h3>
    </section>
    <section>
        {{ form(pwd_form) }}
    </section>
{% endblock %}