{% extends 'dashboard.html.twig' %}

{% block title %}Mon Profil{% endblock %}

{% block content %}
    <section class="text-center">
        <h3>Mon Profil</h3>
    </section>
    <section>
        {{ form(profile_form) }}
    </section>
{% endblock %}



