<footer id="contact">
    <div class="container">
        <h6 class="text-white">Nos réseaux sociaux</h6>
        <div class="d-flex justify-content-around text-white py-4">
            <a href="#" class="text-white"><i class="fab fa-facebook-square fa-2x"></i></a>
            <a href="#" class="text-white"><i class="fab fa-instagram-square fa-2x"></i></a>
            <a href="#" class="text-white"><i class="fab fa-telegram fa-2x"></i></a>
            <a href="#" class="text-white"><i class="fab fa-whatsapp-square fa-2x"></i></a>
            <a href="#" class="text-white"><i class="fab fa-twitter-square fa-2x"></i></a>
        </div>
    </div>

    <!-- Rights -->
    <div class="rights">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>© 2022 Lemesem Exchange | Tous droits réservés.</p>
                </div>
                <div class="col-md-6 text-end"> <a href="#">Faqs </a> <a href="#">Mentions Légales </a> <a href="#">Contactez-nous</a> </div>
            </div>
        </div>
    </div>
</footer>